.details-page {
    padding-top: 5vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    min-height: 100vh;
}

@media(max-width: 739px) {
    .details-page {
        display: flex;
        justify-content: center;
        padding-top: 50px;
    }
}