.horizontal-news {
    width: 500px;
    height: 130px;
    display: flex;
    margin-bottom: 26px;
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
    backdrop-filter: blur(70px);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 2px 2px 12px 0 #e9e9e9;
}

.horizontal-news:hover {
    scale: 1.02;
}

.horizontal-news-img {
    width: 130px;
    height: 130px;
    margin-right: 26px;
    border-radius: 10px;
    object-fit: cover;
}

.horizontal-news-container {
    max-height: 130px;
}

.horizontal-news-title {
    margin: 0;
    margin-bottom: 14px;
    color: #0F4081;
    font-size: 18px;
    font-weight: 900;
    font-family: 'BeVietnamPro';
    line-height: 1.5;
    text-align: justify;
}

.horizontal-news-content {
    color: #000;
    font-size: 13px;
    text-align: justify;
    margin: 0;
}

.horizontal-news-time {
    display: flex;
    color: #838383;
    font-size: 12px;
}

.clock-icon {
    width: 13px;
    margin-right: 13px;
}

.horizontal-news-img-container {
    position: relative;
}

.horizontal-news .et-news-tag {
    position: absolute;
    bottom: 0;
    width: fit-content;
    margin: 2px 8px;
    z-index: 1;
}

.horizontal-news .tag-name {
    position: relative;
    outline: 1px solid #fff;
    outline-offset: 2px;
    z-index: 1000;
    transform: translateX(8px);
}

.horizontal-news .tag-square {
    position: relative;
    z-index: 1;
    width: 13px;
    height: 13px;
    background-color: #ff0000;
}

.horizontal-news #tag-square-1 {
    transform: translate(2px, 7px);
}

.horizontal-news #tag-square-2 {
    transform: translate(58px, -7px);
}

.horizontal-news .tag-name p {
    padding: 2px;
    width: fit-content;
    font-size: 10px;
    font-weight: 900;
    margin: 0;
    background-color: #fff;
    color: #102e44;
    border: 2px solid #102e44;
    outline: 1px solid #fff;
}

.relative-time {
    font-size: 13px;
}
