.activity-container{
    width: 27vw;
    display: flex;
     flex-direction: column;
}

.activity-image{
    width: 27vw;
    height: 27vw;
    object-fit: cover;
    box-shadow: 5px 5px 30px 5px #A1EFF2;
}

.activity-name{
    margin-top: 2vw;
    color: #0F4081;
     font-size: 1.3vw;
     font-weight: 900;
    line-height: 1.8vw;
    text-align: center;
}

.activities-desc{
    text-align: justify;
    font-size: 1.5vw;
}

.activity-container.highlight-1{
    width: 50vw;
}

.activity-container.highlight-1 img{
    width: 50vw;
}

.activity-container.highlight-2{
    width: 25vw;
}

.activity-container.highlight-2 img{
    width: 25vw;
}

.activity-container.highlight-2 .activity-name,
.activity-container.highlight-1 .activity-name
{
    font-size: 2vw;
    line-height: 2.5vw;
    margin-bottom: 0;
}