/* .intro-section{
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
    animation: moveDown 0.5s ease-in;
} */

/* Introduction Styles */

/* .intro-section {
    /* background: url("../../assets/images/banners/banner102024.png") no-repeat center center/cover; 
    height: 120vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } 
  */

  .banner-section {  
    position: relative;  
    margin-top: 0;
    z-index: 1;
    width: 100%;  
    height: auto;  
    overflow-x: hidden;  
}  

.banner-list {  
    width: 100vw;  
    height: auto;  
    display: flex;  
    transition: transform 0.5s ease-in-out;  
    box-sizing: border-box;  
}  

.banner {  
    flex: 0 0 100%;  
    /* flex-wrap: wrap; */
    width: 100vw;  
    height: 100vh; 
    transition: opacity 0.5s ease;  
    object-fit: cover;  
}  

.banner-section-banner--active {  
    opacity: 1;   
} 
  
  @media (max-width: 768px) {
    .intro-section {
      background-position: center;
      background-size: cover;
    }
  }
  