.FAQ-section {  
    display: flex;  
    flex-direction: column;  
    align-items: center; 
    width: 100%;  
    height: auto;  
    margin-bottom: 8vw;   
    margin-top: 70px;
}  

.FAQ-section.visible {  
    opacity: 1;  
    animation: zoomIn 1s ease-in-out;
}  

@keyframes zoomIn {  
    0% { transform: scale(0.7); opacity: 0; }  
    100% { transform: scale(1); opacity: 1; }  
}
 
.FAQ-question { 
    display: flex;
    font-family: 'Montserrat';
    font-weight: 500;
    padding-left: 20px;
    align-items: center; 
    flex-wrap: wrap;  
    position: relative; 
    font-size: 1.2vw;
    margin-top: 35px;
    /* height: calc(681px / 1459px * 100%);
    flex: 1 1 calc(681px / 1459px * 100%);  */
    width: 800px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 11.378px;
    background: rgba(154, 153, 153, 0.2);
}

.FAQ-question:hover {
    transform: scale(1.05);
}

.FAQ-title {  
    margin-top: 50px;  
    font-size: 3vw;  
    font-weight: 900;
    font-family: 'Montserrat';
    width: fit-content;  
    background: linear-gradient(180deg, #47A8B4 0%, #5D3E91 100%);  
    filter: drop-shadow(1px -1px 2px #fff6a875) drop-shadow(3px 4px 4px rgba(0, 0, 0, 0.5));  
    -webkit-background-clip: text;   
    -webkit-text-fill-color: transparent;  
}  

.division-bar{
    width: 506px;
    height: 3px;
    margin: 2vh 0;
    background: linear-gradient(107deg, #3493C8 44.83%, #6AB8E0 68.38%);
}