.hr-structure-page{
    position: relative;
    width: 100vw;
    height: auto;
    background: linear-gradient(180deg, #FDFDFD 0.1%, #AEE8FF 107.38%);
}

.hr-structure-tree{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr-structure-branch{
    width: 80%;
    margin-bottom: 12vw;
    display: flex;
     align-items: center;
     justify-content: space-around;
    z-index: 1000;
}

.hr-structure-img{
    width: 40vw;
    height: auto;
    border-radius: 2vw;
    box-shadow:
        0.5vw 0.5vw 1vw #fffb83d8,
        -0.1vw -0.1vw 0.5vw #fffb83d8;
    outline: none;
}

.hr-structure-content{
    display: flex;
    flex-direction: column;
}

.hr-structure-name{
    font-size: 2vw;
     font-weight: 900;
}

.hr-structure-desc{
    width: 31vw;
    font-size: 1.3vw;
     line-height: 3vw;
     text-align: justify;
}

.hr-tree{
    position: absolute;
    top: -5vw;
    width: 70vw;

}