.hr-structure-page {
    min-height: 100vh;
    padding: 8vw 0;
    /* background: linear-gradient(180deg, #FDFDFD 0.1%, #AEE8FF 107.38%); */
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.hr-structure-tree {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 60px 0 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.hr-structure-branch {
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    transform: translateY(3vw);
    gap: 20px;
    scale: 0.96;
}

.hr-structure-branch.visible {
    opacity: 1;
    transform: translateY(0);
    scale: 1;
}

.hr-structure-img {
    width: 45%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0.5vw 0.5vw 1vw #232837d8;
    outline: none;
}

.hr-structure-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hr-structure-name {
    padding-top: 10px;
    text-align: center;
    background: linear-gradient(135deg, #47A8B4 0%, #5D3E91 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hr-structure-desc {
    width: 100%;
    font-size: 14px;
    color: #234e77;
    line-height: 1.5;
    text-align: justify;
}

@keyframes expand-contract {

    0%,
    100% {
        transform: scaleX(1);
    }

    50% {
        transform: scaleX(0.98);
    }
}

@media (max-width: 480px) {
    .hr-structure-branch {
        width: 300px;
    }

     .hr-structure-tree {
        gap: 50px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .hr-structure-page {
        padding: 15vw 0;
    }
    .hr-structure-branch {
        width: 670px;
    }

    .hr-structure-tree {
        gap: 50px;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .hr-structure-branch {
        width: 700px;
    }

    .hr-structure-tree {
        gap: 100px;
    }
}