.breadcrumb-container {
    position: absolute;
    top: 5vw;
}

.nav-item-content.breadcrumb-item{
    color: #178DE2;
}

@media screen and (max-width: 768px) {
    .breadcrumb-item {
        font-size: 10px !important;
    }

    .breadcrumb-container {
        position: absolute;
        top: 10vw;
        left: 7vw;
    }
}

@media (min-width: 740px) and (max-width: 1023px)  {
    .breadcrumb-item {
        font-size: 10px !important;
    }

    .breadcrumb-container {
        position: absolute;
        top: 10vw;
        left: 7vw;
    }
}