.partners-section{
    position: relative;  
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(85%) !important;
}

.partners-section .partners-title{
    text-align: left;
    font-family: 'Montserrat';
    background: linear-gradient(135deg, #47A8B4 0%, #5D3E91 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.companions-title {
    margin-top: 50px;
}

.partners-desc, .companions-desc{
    font-family: 'BeVietnamPro';
    font-size: 1.3vw;
    font-weight: 600;
    color: black;
    align-self: center;
    margin: 1vw 0 4vw 0;
}

.slick-prev:before, .slick-next:before {
    font-size: 2vw; 
    text-align: center;
    border-radius: 50%;
}

.partner, .single-partner{
    position: relative;
    box-sizing: border-box;
    margin: 3vw auto 0 auto;
    transition: transform 0.3s ease;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.partner:hover, .single-partner:hover{
    transform: scale(1.05);
}

.partner img, .single-partner img{
    width: 200px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 8px solid #1d2f5c;
    box-sizing: border-box;
    object-fit: cover;
}

.partner-name{
    margin: 1vw 0 0.5vw 0;
    width: 200px;
    font-family: 'BeVietnamPro';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.partner-role{
    font-size: 18px;
    width: 200px;
    font-family: 'BeVietnamPro';
    font-weight: 500;
    text-align: center;
    color: black;
}

.partners-section .custom-arrow{
    padding: 0 2vw;
    font-size: 1vw;
}

.partners-section .slick-prev{
    left: 0;
}

.partners-section .slick-next{
    right: 0;
}

.partners-section .custom-arrow:hover {
    opacity: 1 !important; 
}

.partners-section .slick-prev, .slick-next {
    transition: opacity 0.3s ease-in-out;
}

.partners-section .slick-prev:hover, .slick-next:hover {
    opacity: 1;
}

.partners-section .slick-list {
    width: 1000px;
    min-height: 400px;
}

.skeleton-alt {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 5%;
    gap: 100px;
}


@media (max-width: 480px) {
    .partners-section .skeleton-alt {
        gap: 50px;
    }
    .partner, .single-partner{
        width: 100px;
    }
    
    .partner:hover, .single-partner:hover{
        transform: scale(1.05);
    }
    
    .partner img, .single-partner img{
        width: 120px;
    }
    
    .partner-name{
        margin: 1vw 0 0.5vw 0;
        width: 120px;
        font-size: 13px;
    }
    
    .partner-role{
        font-size: 10px;
        width: 120px;
    }

    .partners-section .slick-list  {
        width: 400px;
        min-height: 200px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .partner, .single-partner{
        width: 150px;
    }
    
    .partner:hover, .single-partner:hover{
        transform: scale(1.05);
    }
    
    .partner img, .single-partner img{
        width: 150px;
    }
    
    .partner-name{
        margin: 1vw 0 0.5vw 0;
        width: 150px;
        font-size: 16px;
    }
    
    .partner-role{
        font-size: 14px;
        width: 150px;
    }

    .partners-section .slick-list  {
        width: 800px;
        min-height: 300px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .partner, .single-partner{
        width: 180px;
    }
    
    .partner:hover, .single-partner:hover{
        transform: scale(1.05);
    }
    
    .partner img, .single-partner img{
        width: 180px;
    }
    
    .partner-name{
        margin: 1vw 0 0.5vw 0;
        width: 180px;
        font-size: 18px;
    }
    
    .partner-role{
        font-size: 16px;
        width: 180px;
    }

    .partners-section .slick-list  {
        width: 650px;
        min-height: 350px;
    }
}