.vertical-news {
    width: 290px;
    display: flex;
    flex-direction: column;
    transition: scale 0.2s ease-in-out;
    cursor: pointer;
    min-height: 22em;
    backdrop-filter: blur(70px);
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #e9e9e9;
    align-items: center;
}

.vertical-news:hover {
    scale: 1.02;
}

.vertical-news-img-container {
    width: 280px;
    position: relative;
}

.vertical-news-img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.vertical-news-container {
    width: 100%;
}

.vertical-news-title {
    width: 100%;
    color: #0F4081;
    font-family: 'BeVietnamPro';
    line-height: 1.5;
    text-align: left;
    margin: 10px 0 8px 0;
}

.vertical-news-content {
    width: 100%;
    color: #000;
    text-align: justify;
    margin: 0;
    line-height: 1.5;
    font-size: 10px;
}

.vertical-news-time {
    display: flex;
    color: #838383;
    font-size: 10px;
}

.clock-icon {
    width: 15px;
    margin-right: 10px;
}

.vertical-news .et-news-tag {
    position: absolute;
    bottom: 0;
    width: fit-content;
    margin: 2px 8px;
    z-index: 1;
}

.vertical-news .tag-name {
    position: relative;
    outline: 1px solid #fff;
    outline-offset: 2px;
    z-index: 1000;
    transform: translateX(8px);
}

.vertical-news .tag-square {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
}

.vertical-news #tag-square-1 {
    transform: translate(1px, 12px);
}

.vertical-news #tag-square-2 {
    transform: translate(82px, -12px);
}

.vertical-news .tag-name p {
    padding: 2px;
    width: fit-content;
    font-size: 16px;
    font-weight: 900;
    margin: 0;
    background-color: #fff;
    color: #102e44;
    border: 3px solid #102e44;
    outline: 1px solid #fff;
}

/* Mobile */
@media (max-width: 739px) {
    .vertical-news {
        min-height: 26em;
    }

    .vertical-news-title,
    .vertical-news-content {
        width: 90%;
        margin-left: 0.2em;
    }

    .vertical-news-time {
        font-size: 10px;
    }

    .clock-icon {
        width: 10px;
        margin-right: 1vw;
    }

    .vertical-news-img {
        width: 100%;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .vertical-news {
        min-height: 20em;
    }

    .vertical-news-title {
        font-size: 14px;
    }

    .vertical-news-content {
        font-size: 8px;
    }
}

/* Desktop */
@media (min-width: 1024px) {
    .vertical-news {
        min-height: 430px;
        max-height: 430px;
    }

    .vertical-news-content {
        font-size: 10px;
    }
}
