.search-section{
    width: 100vw;
    height: 1000vh;
    background: linear-gradient(90deg, #FDFDFD, #AEE8FF);
    display: flex;
    justify-content: center;
    align-items: center;    
}

.search-container{
    width: 70%;
    height: 98%;
}

.search-close{
    width: 100%;  
    height: 5vw;  
    display: flex;
    justify-content: right;
}

.close-btn{
    width: 3vw;  
    height: 3vw; 
    transition: transform 0.3s ease;
    color: #3e5391
}

.close-btn:hover{
    color: hsla(0, 100%, 51%);
    transform: scale(1.1);
}

.search-input{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.vertical-bar{
    width: 0.25vw;
    height: 3vw;
    background: #178DE2;
    margin-right: 2vw;
}

.horizontal-bar{
    width: 100%;
    height: 0.2vw;
    background: linear-gradient(135deg, #47A8B4 0%, #5D3E91 100%);
    margin-top: 1vw;
}

.search-input input{
    font-family: "Montserrat";
    width: 98%;
    height: 3.5vw;
    border: none;
    background-color: transparent;
    font-size: 1.7vw;
    outline: none;
    color: #4696E3;
}

.search-input input::placeholder{
    font-family: "Montserrat";
    color: #4696E3;
    font-style: italic;
    text-shadow: none;
}

.fas.fa-times{
    width: 10vw;
    height: 10vw;
}