.seeking-banner-section {
    position: relative;  
    width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

.seeking-banner-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
    animation: floating 3s infinite ease-in-out;
}

.seeking-banner-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seeking-banner-image img {
    width: 75vw;
    height: auto;
    object-fit: contain;
}

.seeking-banner-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1; 
    pointer-events: none; 
}

#seeking-banner-block-1{
    width: 30vw;
    height: auto;
    object-fit: contain;
    position: absolute;
    animation: floating 2s infinite ease-in-out;
}

#seeking-banner-block-2{
    position: absolute;
    width: 25vw;
    height: auto;
    object-fit: contain;
    bottom: 0;
    right: 0;
    animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
    0% { scale: 1; }
    50% { scale: 1.05; } 
    100% { scale: 1; } 
}