.suggestions{
    width: 100%;
    height: auto;
    color: #fff;

}

.suggestions-text{
    font-size: 2vw;
    font-style: italic;
}

.suggestion{
    display: flex;
    flex-direction: column;
    margin: 2vw 0;
    transition: transform 0.3s ease;

}

.suggestion:hover{
    transform: scale(1.02);
}
.suggestion-type{
    margin: 0;
    text-align: right;
    font-weight: 900;
}

.suggestion-post{
    display: flex;
    height: 8vw;
    background: rgba(30, 40, 95, 0.32);
}


.suggestion-img{
    width: auto;
    height: 100%;
    box-sizing: border-box;
    margin-right: 2vw;
}

.suggestion-content{
    width: 80%;
}

.suggestion-title {
    font-weight: bold;
    font-size: 1.3vw
}

.suggestion-desc {
    font-size: 0.8vw;
    line-height: 1.4vw;
    letter-spacing: 0.08vw;
    text-align: justify;
}