.faqs-page {
    padding-top: 8vw;
    width: 100vw;
    min-height: 100vh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.topic-questions {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 3%;
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    border-radius: 20px;
}

@media(max-width: 739px) {
    .faqs-page {
        padding-top: 18vw;
    }
}