body::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: 1;
    background: linear-gradient(180deg, #FDFDFD 1.18%, #AEE8FF 162.45%);
    overflow-x: hidden;
}

.star {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    opacity: 0.8;
    animation: twinkle 1s infinite alternate;
}

@keyframes twinkle {
    from {
        opacity: 0.8;
    }

    to {
        opacity: 0.2;
    }
}