.activities-page{
    padding-top: 4vw;
    width: 100vw;
    height: auto;
    background: linear-gradient(181deg, #FDFDFD 1.18%, #AEE8FF 162.45%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activities-slider{
    width: 80vw;
    margin-bottom: 5vw;
}

.ongoing-activities-container{
    width: 80%;
}

.ongoing-activities{
    display: flex;
    justify-content: space-between;
}

.ongoing-activities img {
    max-width: 50vw;
    height: auto;
}

