.activities-page {
    padding-top: 7vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    min-height: 100vh;
}

.activities-section {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.activities-title {
    background: linear-gradient(180deg, #47A8B4 0%, #5D3E91 100%);
    font-family: 'Montserrat';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.activities-slider {
    margin-bottom: 50px;
}

.ongoing-activities-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ongoing-activities {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 100%;
    max-height: 550px;
}

.ongoing-activities img {
    height: auto;
    border-radius: 10px;
}

.ongoing-activities .activity-container.highlight-1 {
    width: 600px;
    padding: 1vw;
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    border-radius: 20px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #e9e9e9;
}

.ongoing-activities .activity-container.highlight-1 img {
    width: 600px !important;
    aspect-ratio: 16 / 9;
    box-shadow: none;
}

.ongoing-activities .activity-container.highlight-2 {
    width: 270px;
    padding: 1vw;
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
    border-radius: 20px;
    box-shadow: 0.2vw 0.2vw 1vw 0 #e9e9e9;
}

.ongoing-activities .activity-container.highlight-2 img {
    width: 250px !important;
    aspect-ratio: 3/4;
    box-shadow: none;
}

.ongoing-activities .activity-container.highlight-1 .activity-name {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 0;
    width: 100%;
}

.ongoing-activities .activity-container.highlight-2 .activity-name {
    line-height: 1.5;
    text-align: left;
    margin-bottom: 0;
}

.completed-activities-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.completed-activities-container .activities-slider {
    width: 100%;
}

.completed-activities .activity-container img {
    width: 350px !important;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.activities-page-division-bar {
    width: 300px;
    height: 1px;
    background-color: #536EA1;
    margin: 50px 0 50px 0
}

.completed-activities {
    width: 1100px;
}

.completed-activities .slick-slider {
    width: 100%;
    height: 470px;
}

.completed-activities .slick-list {
    width: 100%;
}


@media(max-width: 480px) {
    .ongoing-activities {
        flex-direction: column;
        align-items: center;
    }

    .activities-page {
        padding-top: 18vw;
    }

    .activities-section {
        width: 80%;
    }

    .activities-slider {
        width: 100%;
        margin-top: 5vw;
    }

    .ongoing-activities {
        max-height: none;
    }

    .ongoing-activities .activity-container.highlight-1,
    .ongoing-activities .activity-container.highlight-2 {
        width: 100%;
    }

    .ongoing-activities .activity-container.highlight-1 .activity-image,
    .ongoing-activities .activity-container.highlight-2 .activity-image {
        max-width: 250px;
        height: 250px;
        width: 250px;
        aspect-ratio: 1/1;
    }

    .completed-activities .activity-container img {
        margin-top: 20px;
        width: 280px !important;
        aspect-ratio: 1/1;
        object-fit: cover;
    }

    .activities-slider-title {
        font-size: 14px !important;
    }

    .activity-name {
        width: 100% !important;
        font-size: 12px !important;
    }

    .activity-desc {
        font-size: 10px !important;
    }

    .completed-activities {
        width: 300px;
    }

    .activities-title-container {
        height: 30px !important;
        margin: 0 !important;
    }

    .completed-activities .slick-slider {
        height: auto;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .activities-section {
        margin-top: 80px;
        width: 90%;
    }

    .ongoing-activities {
        gap: 20px;
    }

    .ongoing-activities .activity-container.highlight-1 {
        width: 450px;
    }

    .ongoing-activities .activity-container.highlight-1 img {
        width: 450px !important;
    }

    .ongoing-activities .activity-container.highlight-2 {
        width: 200px;
    }

    .ongoing-activities .activity-container.highlight-2 img {
        width: 170px !important;
    }

    .completed-activities .activity-container {
        /* margin-left: 50px; */
    }

    .completed-activities .activity-container img {
        width: 200px !important;
    }

    .activities-slider {
        margin: 0;
    }

    .completed-activities {
        width: 650px;
    }

    .activities-title-container {
        height: 70px !important;
        margin: 0 !important;
    }

    .completed-activities .slick-slider {
        height: auto;
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .activities-section {
        width: 90%;
    }

    .ongoing-activities {
        gap: 20px;
        max-height: 550px;
    }

    .ongoing-activities .activity-container.highlight-1 {
        width: 450px;
    }

    .ongoing-activities .activity-container.highlight-1 img {
        width: 450px !important;
    }

    .ongoing-activities .activity-container.highlight-2 {
        width: 200px;
    }

    .ongoing-activities .activity-container.highlight-2 img {
        width: 170px !important;
    }

    .completed-activities .activity-container {
        margin: 0;
    }

    .completed-activities .activity-container img {
        width: 220px !important;
    }

    .completed-activities {
        width: 700px;
    }

    .activities-title-container {
        height: 70px !important;
        margin: 0 !important;
    }

    .completed-activities .slick-slider {
        height: auto;
    }
    
    .activities-slider .activity-container .activity-name {
        width: 220px !important;
    }
}