.aboutus-section {
    position: relative;
    opacity: 0;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    margin-top: 150px;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.aboutus-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.bio {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px
}

.aboutus-section.visible .bio-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    animation: moveUpAndHold 2s ease-in-out;
}

.bio-logo img {
    width: 250px;
    height: auto;
}

.bio-detail {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    align-items: center;
}

.about-us-title {
    margin: 0 auto;
    width: 60%;
    background: linear-gradient(180deg, #47A8B4 0%, #5D3E91 100%);
    font-size: 3vw;
    font-weight: 900;
    font-family: 'Montserrat';
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

.aboutus-section.visible #detail-item-1 {
    animation: moveDownAndHold 2s ease-in-out;
}

.aboutus-section.visible #detail-item-2 {
    animation: moveUpAndHold 2s ease-in-out;
}

.detail-img {
    width: 250px;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    box-shadow: 16px 17px 31.9px -5px #737373;
    line-height: 1.5;
}

.detail-desc {
    font-family: 'Montserrat';
    font-weight: 500;
    width: 250px;
    height: auto;
    font-size: 0.8rem;
    line-height: 1.5;
    text-align: justify;
    color: #0F4081;
}

@keyframes moveUpAndHold {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes moveDownAndHold {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Responsive adjustments */
@media screen and (max-width: 1024px) {
    .aboutus-section {
        margin-top: 100px;
    }

    .about-us-title {
        width: 80%;
    }

    .bio-logo img {
        width: 200px;
    }

    .detail-img {
        width: 230px;
    }

    .detail-desc {
        font-size: 12px;
        width: 80%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .bio {
        gap: 10px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .aboutus-section {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }

    .about-us-title {
        width: 100%;
    }

    .bio {
        flex-direction: column;
        gap: 40px
    }

    #detail-item-1 {
        flex-direction: row;
    }

    #detail-item-2 {
        flex-direction: row;
    }

    .aboutus-section #detail-item-1 {
        animation: none !important;
    }

    .aboutus-section #detail-item-2 {
        animation: none !important;
    }

    .aboutus-section.visible .bio-logo {
        animation: none !important;
    }

    .bio-logo img {
        width: 50vw;
    }

    .detail-img {
        width: 40vw;
        height: 35vw;
    }

    .detail-desc {
        font-size: 16px;
        width: 70%;
    }
}

@media (max-width: 480px) {
    .aboutus-section {
        opacity: 1 !important;
        transform: translateY(0) !important;
        margin-top: 50px;
    }

    .about-us-title {
        width: 100%;
        margin-bottom: 20px;
    }

    .bio {
        flex-direction: column;
        gap: 40px
    }

    #detail-item-1 {
        flex-direction: row;
    }

    #detail-item-2 {
        flex-direction: row;
    }

    .aboutus-section #detail-item-1 {
        animation: none !important;
    }

    .aboutus-section #detail-item-2 {
        animation: none !important;
    }

    .aboutus-section.visible .bio-logo {
        animation: none !important;
    }

    .bio-logo img {
        width: 200px;
    }

    .detail-img {
        width: 170px;
        aspect-ratio: 1 / 1;
    }

    .detail-desc {
        font-size: 9px;
        width: 70%;
        line-height: 1.5;
    }
}