.numbers-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.numbers-section .title{
    text-align: center;
    margin-bottom: 5vw;
    width: fit-content;
    font-size: 2.5vw;
    font-weight: 900;
    text-shadow: 0.1vw 0.2vw 0.5vw rgba(0, 0, 0, 0.20);
    background: linear-gradient(135deg, #47A8B4 0%, #5D3E91 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.numbers-section .numbers{
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 3vw;
    gap: 3vw;
}

.numbers-section .number-card{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.numbers-section .number{
    margin: 0;
    font-size: 6vw;
    font-weight: 900;
    background: linear-gradient(90deg, #FFC107 31.17%, #FFD740 43.17%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.numbers-section .name{
    color: #0D3DA4;
    text-align: center;
    font-size: 1.5vw;
    font-weight: 900;
}