.password-section{
    margin: 2vw;
    width: max-content;
}

.password-section .form-group{
    margin: 0;
    margin-bottom: 2vw;
}

.password-btns{
    display: flex;
    justify-content: flex-end;
 }

 .password-btn{
    padding: 0.8vw 2.2vw;
    margin-left: 1vw;
    font-family: "Montserrat";
     font-size: 1vw;
     font-weight: 900;
    border-radius: 0.3vw;
    border: none;
    cursor: pointer;
 }

 .password-btn.save{
    background: #0F4081;
    color: #fff;
 }

 .password-btn.save:hover{
    background: #092b58;
    color: #fff;
 }

 .password-btn.cancel{
    background: #D9D9D9;
    color: #6E6E6E;
 }

 .password-btn.cancel:hover{
    background: #bcbbbb;
    color: #6E6E6E;
 }